.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e9eeeb;
}

.typical {
  position: absolute;
  top: 12%;
  left: 50%;
  font-size: 30px;
  font-family: roboto;
  transform: translate(-50%, -50%);

  color: #e9eeeb;
}

.login-box {
  width: 440px;
}

.login-box h1 {
  font-size: 40px;
  border-bottom: 6px solid #e9eeeb;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #e9eeeb;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 22px;
  width: 100%;
  float: left;
}

button {
  width: 100%;
  height: 40px;
  font-size: 22px;
  background: none;
  border: 3px solid #e9eeeb;
  color: #e9eeeb;
}
