html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
}

body {
  background-color: #fafafa;
}

.button {
  background-color: #3e51b5; /* Green */
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: roboto;
  cursor: pointer;
  position: fixed;
  right: 25px;
  transition: 0.3s;
}

.button:hover {
  background-color: #697bd3;
  color: #fafafa;
}

.maincol {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  height: 54px;
  width: 232px;
  background: #3f51b5;
}

.sidebar .logo .logo-main {
}

.sidebar .logo .logo-main a {
  padding-top: 15px;
  display: flex;
  font-size: 20px;
  color: #fafafa;
  padding-left: 16px;
}

.sidebar .logo .logo-main h5 {
  padding-left: 35px;
  color: #fafafa;
  font-size: 20px;
  font-family: roboto;
}

.sidebar .menu {
  padding-top: 10px;
  height: 226px;
}

.menu ul {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.menu ul li a {
  color: rgba(0, 0, 0, 0.54);

  padding: 8px 16px 8px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  height: 48px;
  line-height: 24px;
  text-align: left;
  display: flex;
  justify-content: flex-spac;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  letter-spacing: 0.00938em;
  vertical-align: middle;
}

.menu ul li a h5 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin-left: 35px;
  font-weight: 300;
}

.menu ul li a:hover {
  background: #e6e6e6;
  text-decoration: none;
}
